@import "../../App.scss";

.who-can-not {
  min-height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;

  .about-can-not {
    height: 300px;

    .rose-block {
      position: relative;
      top: -350px;
      left: 50%;
      background-color: #e74c3c;
      width: 40vw;
      height: 60vh;
      z-index: -10;
    }

    .text-block {
      display: flex;
      align-items: center;
      font-size: $sizeTextBlock;
      background-color: white;
      padding: 5px;
      width: 50vw;
      height: 63vh;
      border: 1px solid #000000;
    }
  }

  @media (max-width: 750px) {
    .about-can-not {
      position: relative;
      width: 100%;

      .text-block {
        font-size: 0.80*$sizeTextBlock;
        position: absolute;
        width: 70vw;
        left: 50px;
        height: 60vh;
      }

      .rose-block {
        position: absolute;
        left: 50vw;
        top: -80px;
      }
    }
  }

  @media (max-width: 350px) {
    .about-can-not {
      position: relative;
      width: 100%;

      .text-block {
        font-size: 0.75*$sizeTextBlock;
        position: absolute;
        width: 70vw;
        left: 50px;
        height: 70vh;
      }

      .rose-block {
        position: absolute;
        left: 50vw;
        top: -80px;
      }
    }
  }
}
