@import "../../MainPageView";

.who-can-not {
  min-height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;

  .about-can-not {
    height: 300px;
    background-color: #e74c3c;

    .text-block {
      display: flex;
      align-items: center;
      font-size: $sizeTextBlock;
      background-color: white;
      padding: 10px;
      margin-left: 2em;
      margin-top: 2em;
      width: 22em;
      border: 1px solid #000000;
      overflow: auto;
    }
  }

  @media (max-width: 750px) {
    .about-can-not {
      width: 100%;
      .text-block {
        margin-left: 1em;
        width: 70vw;
        left: 50px;
      }
    }
  }

  @media (max-width: 400px) {
    .about-can-not {
      .text-block {
        margin-left: .5em;
        width: 90vw;
      }
    }
  }
}
