.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
  max-width: 100%;
  .check-list-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 20px black;
    height: 22em;
    border-radius: 8px;
    width: 22em;
    font-size: 25px;
    background: rgba(241, 241, 241, 1);
    z-index: 200;
    .form-action {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .input {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
      }
      .submit-button {
        background: #e74c3c;
        font-size: 25px;
        font-family: 'Poiret One', cursive;
        color: white;
        border: none;
        padding: 5px;
      }
    }
    .error-message {
      color: red;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 800px) {
    .check-list-form {
      width: 70vw;
      height: 70vh;
    }
  }

  @media (max-height: 500px) {
    .check-list-form {
      height: 80vh;
    }
  }

  @media (max-width: 400px) {
    .check-list-form {
      width: 100vw;
    }
  }
}
.button-check-list {
  border: none;
  transform: rotate(90deg);
  position: fixed;
  top: 50%;
  left: 0;
  margin-left: -114px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  background: #e74c3c;
  color: white;
  text-transform: uppercase;
  width: 280px;
  z-index: 400;
  cursor: pointer;
  &:hover {
    color: #434343;
  }
}
.close-button {
  position: fixed;
  top: 50%;
  left: 0;
  margin-left: 34px;
  margin-top: 148px;
  font-size: 55px;
  color: black;
  cursor: pointer;
  z-index: 400;
  &:hover {
    color: #434343;
    transform: rotate(180deg);
    transition: 1s;
  }
}
.open-button {
  position: fixed;
  top: 50%;
  left: 0;
  margin-left: 10px;
  font-size: 55px;
  color: black;
  cursor: pointer;
  z-index: 400;
  animation: snake 0.5s infinite alternate;
  &:hover {
    animation: none;
  }
}
@keyframes snake {
  from {
    color: darkblue;
  }
  to {
    margin-left: 14px;
  }
}
