.buy-popup {
  vertical-align: center;
  overflow: hidden;
  box-shadow: 0 0 20px black;
  height: 50vh;
  border-radius: 8px;
  width: 50vw;
  position: fixed;
  background: #f1f1f1;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
  padding: 10px;
  text-align: center;

  .close-and-buy {
    .post-email {
      display: flex;
      flex-direction: column;

      .send-input {
        margin-bottom: 5px;
        height: 40px;
        border-radius: 5px;
        padding-left: 5px;
      }

      .submit-and-close {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
      }

      .social-chat {
        background: none;

        img {
          height: 50px;
        }
      }
    }

    .social-chat {
      margin-top: 50px;
      font-size: 20px;
      cursor: pointer;
      padding: 5px 10px;
      background: #3498db;
      color: white;
      display: inline-block;
      border-radius: 4px;
      margin-left: 10px;
      border: none;
      img {
        &:hover {
          transform: scale(1.2);
          transition: 0.1s;
        }
        margin-left: 10px;
      }
    }

    .close {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 10px;
      top: -5px;
      color: black;
      font-size: 50px;
      &:hover {
        color: #434343;
        transform: scale(1.1);
      }
    }

    .btn-buy {
      opacity: 0.3%;
    }
  }

  .modal-checkout {
    h2 {
      color: #333;
    }
  }
}

@media (max-width: 600px) {
  .buy-popup {
    height: 350px;
    width: 80vw;
  }
}
