@import "../../MainPageView";

.about-me {
  padding-top: 20px;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .photo-block {
    background-color: #e74c3c;
    width: 40%;
    min-width: 280px;
    height: 400px;
    margin: 4em;
    .photo {
      margin-left: 2em;
      margin-top: 2em;
      .img-photo {
        width: 16em;
      }
    }
  }

  .text {
    width: 60%;
    font-size: $sizeTextBlock;
    text-align: justify;
    margin: 2em;
    .full-about-me {
      color: #3498db;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: #1b4b72;
      }
    }
    .text-min {
    }
  }
}
@media (max-width: 600px) {
  .about-me {
    flex-direction: column;
    .photo-block {
      margin: 1em;
    }
  }
}
